extends layout

block content
    div(class='jumbotron text-center mb-5')
        h1 Bloggy
        p Anything To Read In One Site

    div(class='container blogs-list mb-5')
        each post in posts
            div(class='blog-item')
                a(href='/posts/post/'+post._id)
                    h3= post.title
                    h4= post.heading
                    em= `Posted on ${formatDate(post.publish_date)}`
            hr
        form(method='POST' action='/older-posts')
            input(type='hidden' value=`${page}`)

            button(type='submit' class='btn btn-info')  Older Posts       
                i(class="fas fa-arrow-alt-circle-right")

    footer
        hr
        div(class='container text-center p-5')
            button(type='button' class='btn mr-3')
                span(class='fab fa-facebook' style='font-size: 28px')
            button(type='button' class=' btn mr-3')
                span(class='fab fa-instagram' style='font-size: 28px')
            button(type='button' class='btn mr-3')
                span(class='fab fa-twitter' style='font-size: 28px') 

    


  

