extends layout

block content
    div(class='container')
        div(class='personal-info col-8 p-4')
            h3(class='mb-5') Personal Information
            label Email
            input(type='email' class='form-control' readonly)
            label Username
            input(type='text' class='form-control' readonly)
            br
            a(href='#' class='edit-btn') Edit 
                span(class='far fa-edit')
            button(class='btn btn-default update-btn' type='button' style='display: none') Update
        div(class='personal-info col-8 p-4')
            h3(class='mb-5') Posted By Me
            ul(class='list-group')
                li(class='list-group-item')
                    a(href='#') 
                        h4 New Post title
                    em Posted on July 11, 2019
                li(class='list-group-item')
                    a(href='#') 
                        h4 New Post title
                    em Posted on July 11, 2019
                li(class='list-group-item')
                    a(href='#') 
                        h4 New Post title
                    em Posted on July 11, 2019


