body {
  padding: 0;
  font: 14px, 'Kalam', Arial, sans-serif;
}

a.navbar-brand {
	font-family: 'Coming Soon';
	font-size: 22px;
}

nav a{
	font-family: 'Coming Soon';
}

.jumbotron{
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/knowledge.jpg');
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/knowledge.jpg');
	background-size: cover;
    background-position: center;
    height: 250px;


}

.jumbotron h1, p{
	color: white;
	font-family: 'Coming Soon';
	margin-bottom: 2%;
}



.blog-item{
	padding: 2%;
}

 .blog-item a{
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
}

.blog-item h4{
   color: #5a5a5e;
}

.blog-item em{
	color: gray;
}

.blog-item a:hover{
  color: maroon;
  text-decoration: none;
}

*{
	font-family: 'Open Sans Condensed';
}

.cover-img{
   width: 100%;
   max-height: 600px;
}

.blog p {
	color: black;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
}

.section-heading{
	font-weight: 700;
}

.comments-header span{
	font-size: 20px;
}

.comment p{
	font-family: sans-serif;
	font-size: 14px;
}

.login-form form{
	border: 0.5px solid #000;
	width: 60%;    
}



.login-form button {
  width: 100%;
  background-color: #0f7c7e;
  color: #fff;	
}

.login-form button:hover{
	background-color: #b7d7d8;
	color: #000;
}

.personal-info ul > li:hover {
	background-color: #efefef
}

.personal-info a:hover{
	text-decoration: none;
	color: maroon;
}